<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeryun.web.dao.MovieDao">

	<select id="get" resultType="com.jeryun.web.entities.Movie"> 
		
	</select>
	
	<select id="getList" resultType="com.jeryun.web.entities.Movie">
		
	</select>
	
	<select id="getCount" resultType="Integer">
		
	</select>
</mapper>